#about-home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),url("./media/back1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 60vh;
  padding-top: 100px;
}

#about-home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#about-container {
  display: flex;
  align-items: center;
  padding: 8vw 8vw 2vw 8vw;
}

#about-container .about-img {
  width: 60%;
  padding-right: 60px;
}

#about-container .about-img img {
  width: 100%;
}

#about-container .about-text {
  width: 40%;
}

#about-container .about-text h2 {
  color: #29303b;
  padding-bottom: 15px;
}

#about-container .about-text p {
  color: #686f7a;
  font-weight: 300;
}

#about-container .about-text .about-fe {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

#about-container .about-text .about-fe img {
  width: 50px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

#about-container .about-text .about-fe .fe-text {
  width: 90%;
}

#about-container .about-text .about-fe .fe-text h5 {
  font-size: 16px;
  color: #29303b;
}

#trust {
  text-align: center;
  padding: 8vw 8vw 0 8vw;
}

#trust .trust-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

#trust .trust-images img {
  width: 20%;
  height: auto;
  border-radius: 20%;
  box-shadow: 3px 3px 5px black;
}
